/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-Dec-2020, 15:39:20
    Author     : Joel
*/

html, body{
    margin: 0;
    background: #574427;
    color: black;
}

.menyBackground{
    width:30%;
    background: #f7f2e9;
    margin-left: 35%;
    margin-top: 5em;
}

.print-text{
    margin:0em;
    font-size:1.5vw;
    font-weight: 200;
}

.print-description{
    /*Rensa margins?*/
    margin:0em;
    margin-bottom: 1em;
    margin-top: 0.5em;
    font-size:1vw;
    font-weight: normal;
    font-style: italic;
}

.print-type{
    font-size:2.5vw;
    font-weight: 600;
}

.box{
    border: 1px solid #574427 ;
    text-align: center;
}

